<div class="widget-box" ng-init="Init()">
    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
        <h5>Data Barang</h5> <span class="pull-right"><a href="!#TambahBarang" data-toggle="modal"><i class="icon-plus"> Tambah</i></a></span>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="span1">No</th>
                    <th class="span3">Nama Barang</th>
                    <th class="span2">Kategori</th>
                    <th class="span1">Stock</th>
                    <th>Keterangan</th>
                    <th class="span1"><i class="icon icon-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-repeat="item in DatasBarang">
                    <td>{{$index+1}}</td>
                    <td>{{item.NamaBarang}}</td>
                    <td>{{item.NamaKategori}}</td>
                    <td>{{item.Stock}}</td>
                    <td>{{item.Keterangan}}</td>
                    <td class="center"><a href="!#EditBarang" data-toggle="modal" class="btn btn-success" ng-click="Selected(item)"><i class="icon-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="TambahBarang" class="modal hide">
    <form class="form-horizontal" ng-submit="InsertBarang()">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h3>Tambah Data Barang</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">Kategori</label>
                <div class="controls">
                    <select class="form-control" ng-options="item as item.NamaKategori for item in DataKategoris track by item.IdKategori" ng-model="SelectedItemKategori"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nama Barang</label>
                <div class="controls">
                    <input type="text" ng-model="InputBarang.NamaBarang" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nama Keterangan</label>
                <div class="controls">
                    <textarea ng-model="InputBarang.Keterangan"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer"><input type="submit" value="Save" class="btn btn-success"> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
    </form>
</div>

<div id="EditKategori" class="modal hide">
    <form class="form-horizontal" ng-submit="UpdateKategori()">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h3>Edit Kategori</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">Nama Kategori</label>
                <div class="controls">
                    <input type="text" name="Kategori" id="Kategori" ng-model="SelectedItem.NamaKategori" required>
                </div>
            </div>
        </div>
        <div class="modal-footer"><input type="submit" value="Update" class="btn btn-success"> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
    </form>
</div>