<div class="widget-box" ng-init="Init()">
    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
        <h5>Data Karyawan</h5> <span class="pull-right"><a href="!#TambahKaryawan" data-toggle="modal"><i class="icon-plus"> Tambah</i></a></span>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Jenis Kelamin</th>
                    <th>Kontak</th>
                    <th>Alamat</th>
                    <th>Email</th>
                    <th>Level Akses</th>
                    <th><i class="icon icon-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-repeat="item in DatasKaryawan">
                    <td>{{$index+1}}</td>
                    <td>{{item.Nama}}</td>
                    <td>{{item.Sex}}</td>
                    <td>{{item.Kontak}}</td>
                    <td>{{item.Alamat}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.LevelAkses}}</td>
                    <td class="center"><a href="!#EditKaryawan" data-toggle="modal" class="btn btn-success" ng-click="Selected(item)"><i class="icon-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="TambahKaryawan" class="modal hide">
    <form class="form-horizontal" ng-submit="InsertKaryawan()">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h3>Tambah Data Karyawan</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">Nama<sub>Name</sub></label>
                <div class="controls">
                    <input type="text" ng-model="InputKaryawan.Nama" placeholder="Nama Karyawan" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Jenis Kelamin<sub>Sex</sub></label>
                <div class="controls">
                    <label>
                    <input type="radio" name="sex" value="L" ng-model="InputKaryawan.Sex"/>
                    Pria</label>
                    <label>
                    <input type="radio" name="sex" value="P" ng-model="InputKaryawan.Sex"/>
                    Wanita</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Telepon<sub>Phone</sub></label>
                <div class="controls">
                    <input type="text" ng-model="InputKaryawan.Kontak" placeholder="Masukkan Nomor Telpon" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Alamat</label>
                <div class="controls">
                    <textarea ng-model="InputKaryawan.Alamat"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email<sub>Email</sub></label>
                <div class="controls">
                    <input type="email" ng-model="InputKaryawan.Email" placeholder="Nama Karyawan" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Level<sub>Level Akses</sub></label>
                <div class="controls">
                    <label>
                    <input type="radio" name="akses" value="Admin" value="Admin" ng-model="InputKaryawan.LevelAkses"/>
                    Admin</label>
                    <label>
                    <input type="radio" name="akses" value="Staf" value="Staf" ng-model="InputKaryawan.LevelAkses"/>
                    Staf</label>
                    <input type="radio" name="akses" value="Gudang" value="Gudang" ng-model="InputKaryawan.LevelAkses" /> Gudang
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer"><input type="submit" value="Save" class="btn btn-success"> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
    </form>
</div>

<div id="EditKaryawan" class="modal hide">
    <form class="form-horizontal" ng-submit="UpdateKaryawan()">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h3>Edit Supplier</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">Nama<sub>Name</sub></label>
                <div class="controls">
                    <input type="text" ng-model="DataUpdateKaryawan.Nama" placeholder="Nama Karyawan" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Jenis Kelamin<sub>Sex</sub></label>
                <div class="controls">
                    <label>
                    <input type="radio" name="sex" value="L" ng-model="DataUpdateKaryawan.Sex"/>
                    Pria</label>
                    <label>
                    <input type="radio" name="sex" value="P" ng-model="DataUpdateKaryawan.Sex"/>
                    Wanita</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Telepon<sub>Phone</sub></label>
                <div class="controls">
                    <input type="text" ng-model="DataUpdateKaryawan.Kontak" placeholder="Masukkan Nomor Telpon" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Alamat</label>
                <div class="controls">
                    <textarea ng-model="DataUpdateKaryawan.Alamat"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email<sub>Email</sub></label>
                <div class="controls">
                    <input type="email" ng-model="DataUpdateKaryawan.Email" placeholder="Nama Karyawan" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Level<sub>Level Akses</sub></label>
                <div class="controls">
                    <label>
                    <input type="radio" name="akses" value="Admin" value="Admin" ng-model="DataUpdateKaryawan.LevelAkses"/>
                    Admin</label>
                    <label>
                    <input type="radio" name="akses" value="Staf" value="Staf" ng-model="DataUpdateKaryawan.LevelAkses"/>
                    Staf</label>
                    <label>
                    <input type="radio" name="akses" value="Gudang" value="Gudang" ng-model="DataUpdateKaryawan.LevelAkses" /> Gudang
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Status<sub>Status</sub></label>
                <div class="controls">
                    <label>
                    <input type="radio" name="status" value="true" value="true" ng-model="DataUpdateKaryawan.Status"/>
                    Aktif</label>
                    <label>
                    <input type="radio" name="status" value="false" value="false" ng-model="DataUpdateKaryawan.Status"/>
                    Tidak Aktif</label>
                </div>
            </div>
        </div>
        <div class="modal-footer"><input type="submit" value="Update" class="btn btn-success"> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
    </form>
</div>