<div ng-init="Init()">
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>Tambah Pembelian</h5>
        </div>
        <div class="widget-content nopadding">
            <form class="form-horizontal" ng-submit="InsertPembelian()">
                <div class="control-group">
                    <label class="control-label">Tanggal</label>
                    <div class="controls">
                        <input type="date" ng-model="InputPenjualan.TglBeli" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Total Pembelian</label>
                    <div class="controls">
                        <input type="text" ng-model="InputPenjualan.TotalBayar" disabled>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Supplier</label>
                    <div class="controls">
                        <select class="form-control" ng-options="item as item.NamaSupplier for item in DatasSupplier track by item.IdSupplier" ng-model="SelectedItemSupplier"></select>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" value="Save" class="btn btn-success">
                    <a href="!#TambahItem" class="btn btn-primary" data-toggle="modal">Tambahkan Item Barang</a>
                </div>
            </form>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Item Barang</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Barang</th>
                        <th>Kode Barang</th>
                        <th>Jumlah</th>
                        <th>Harga Beli</th>
                        <th><i class="icon icon-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat="item in DataItemBarang">
                        <td>{{$index+1}}</td>
                        <td>{{item.NamaBarang}}</td>
                        <td>{{item.KodeBarang}}</td>
                        <td>{{item.Jumlah}}</td>
                        <td>{{item.HargaBeli}}</td>
                        <td class="center"><a href="#" data-toggle="modal" class="btn btn-success" ng-click="DeleteItem(item)"><i class="icon-minus-sign"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="TambahItem" class="modal hide">
    <form class="form-horizontal" ng-submit="TambahItemBarang()">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h3>Edit Kategori</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">Kategori</label>
                <div class="controls">
                    <select class="form-control" ng-options="item as item.NamaKategori for item in DataKategoris track by item.IdKategori" ng-model="SelectedItemKategori" ng-change="ChangeBarang(SelectedItemKategori)"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Barang</label>
                <div class="controls">
                    <select class="form-control" ng-options="item as item.NamaBarang for item in DatasBarang track by item.IdBarang" ng-model="SelectedItemBarang"></select>
                </div>
            </div>
            <!--<div class="control-group">
                <label class="control-label">Kode Barang</label>
                <div class="controls">
                    <input type="text" ng-model="InputItemBarang.KodeBarang" required>
                </div>
            </div>-->
            <div class="control-group">
                <label class="control-label">Jumlah</label>
                <div class="controls">
                    <input type="text" ng-model="InputItemBarang.Jumlah" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Harga Beli</label>
                <div class="controls">
                    <input type="text" ng-model="InputItemBarang.HargaBeli" required>
                </div>
            </div>
        </div>
        <div class="modal-footer"><input type="submit" value="Tambah" class="btn btn-success"> <a data-dismiss="modal" class="btn" href="#">Tutup</a> </div>
    </form>
</div>